#file_input_button {
    background-color:rgba(255,0,255,0.3);
}

.w2ui-layout>div .w2ui-panel .w2ui-panel-content {
    background: none;
}

button {
    padding: 0.5em;
}

br {
    line-height: 2em;
}

button.unimplemented:after {
    content: "[unimplemented]";
    vertical-align: super;
    font-size: 0.75em;
}