body {
    font-family: sans-serif;
    min-width: 500px;
}

.title {
    margin: 0.5em 15%;
    font-size: 1.5em;
    color: gray;
}

.main {
    margin: 0 15%;
}

.capital {
    color: black;
    font-size: 1.1em;
}

.title:hover .capital {
    color: red;
}

.image-container {
    text-align: center;
    margin: 3em 0;
}

.image-container>img {
    width: 500px;
    border: 1px solid gray;
}

.image-container>p {
    color: gray;
    font-size: 0.75em;
}

.unimplemented {
    color: gray;
}

.unimplemented:after {
    content: " [NB: feature not yet implemented]";
    vertical-align: super;
    font-size: 0.75em;
}

em {
    color: red;
}

.plus {
    border: 1px solid black;
    padding: 0.2em;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a.important {
    color: green;
    text-decoration: underline;
}


#fileInput {
    background-color:rgba(255,0,255,0.3);
    margin-left: 3em;
}

.w2ui-layout>div .w2ui-panel .w2ui-panel-content {
    background: none;
}